@import url('https://fonts.googleapis.com/css?family=Montserrat|Rubik');
body {
	margin: 0;
}
body {
    padding: 30px
}
h1 {
    margin-top: 60px;
    font-size: 28px;
    color: #FFBA08;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
p {
    text-align: center;
}